/* 

==================================================================================
=============================== CSS de la página INDEX ===========================
==================================================================================

*/

/* Import del main css */
@import url(main.css);


/* INDEX config */

.main{
    width: 100%;
    height: 100vh;
    gap: 0;
}

.header{

    width: 100%;
    height: 10vh;
    /* background-color: var(--white); */
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;

}

.menu{
    padding: 50px;
    gap: 100px;
    color: var(--white);
}

.menu-item{
    cursor: pointer;
    transform: scale(1);
    transition: transform 0.2s;
    position: relative;
}

.menu-item:hover{

    font-weight: bold;
    transform: scale(1.05);

}

.vs-content{
    /* background-color: var(--white); */
    position: absolute;
    /* bottom: 0; */
}

.vs{
    width: 100px;
    height: 100px;
    background-color: var(--bg-card);
    color: var(--white);
    font-size: var(--fs-title-lg);
    transition: all 0.2s;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
}

.vs:hover{
    transform: scale(1.05);
}

.vs:active{
    transform: scale(0.95);
}



.status{

    width: 400px;
    height: 100%;
    background-color: var(--bg-card);
    gap: 0;
    box-shadow: 0px 0px 10px var(--bg-card);
}

.bank, .resets{margin: 10px;}

.bank{
    color: var(--bank);
    border-right: 2px solid var(--primary);
    margin-right: 0;
    position: relative;
}

.money, .resetNumber, .money-event, .money-event-lost{
    font-size: var(--fs-title-md);
}

.money-event{
    color: var(--bank-win);
}

.money-event-lost{
    color: var(--lost);
}

.resets{
    color: var(--resets);
}



.box-roulette{
    
    width: 300px;
    min-width: 300px;
    max-width: 301px;
    height: 300px;
    min-height: 300px;
    max-height: 301px;
    border: 2px solid var(--text-muted);
    overflow: hidden;
    margin-top: 100px;
    position: relative;

}


.roulette{

    display: flex;
    /* background: var(--white); */
    position: absolute;

}

.item{

    width: 300px;
    min-width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-card);
    padding: 20px;

}

img{
    object-fit:contain; 
    /* object-position: center top; */
}


.buttons{
    gap: 30px;
}


.tirarCaja{
    color: var(--bank);
    border: 3px solid var(--bank);
    transition: all 0.2s;
}

.tirarCaja:hover, .venderArma:hover{
    background-color: var(--bank);
    color: var(--white);
}

.tirarCaja:active, .venderArma:active{
    transform: scale(0.95);
}


.venderArma{
    color: var(--white);
    border: 3px solid var(--bank);
    transition: all 0.2s;
    background-color: var(--bg-bank);
}

.luchar{
    color: var(--white);
    border: 3px solid var(--resets);
    transition: all 0.2s;
    background-color: var(--bg-reset);
}

.luchar:hover{
    background-color: var(--resets);
    color: var(--white);
}


.luchar:active{
    transform: scale(0.95);
}



button{
    padding: 15px 40px;
    cursor: pointer;
    background-color: transparent;
    font-size: var(--fs-title-md);
    transform: scale(1);
    transition: transform 0.2s;
}


button:hover{
    transform: scale(1.05);
}


.table-container{
    /* background-color: white; */
    /* margin: 40px; */
    max-width: 90%;
    width: 100%;
    /* height: 50px; */
}

table{
    border-collapse:collapse;
    font-size: var(--fs-title-md);
}

.user-desktop{
    border-right: 2px solid var(--bg-card);
}


.left-table{
    width: 25%;
    border-bottom: 4px solid var(--bg-card);
    border-right: 4px solid var(--bg-card);
}

.left-table-bottom{
    width: 25%;
    border-bottom: 0px;
    border-right: 4px solid var(--bg-card);
}

.right-table{
    width: 100%;
    border-bottom: 4px solid var(--bg-card);
}

.right-table-bottom{
    width: 100%;
    border-bottom: 0px;
}

td{padding: 15px;}

.weapon{
    color: var(--resets);
}

.damage{
    color: var(--accent-blue);
}

.damage-win{
    color: var(--white);
    background-color: var(--accent-blue);
}

.value{
    color: var(--bank);
}

.value-win{
    color: var(--white);
    background-color: var(--bank);
}

.type{
    color: var(--accent-gold);
}

.type-win{
    color: var(--white);
    background-color: var(--accent-gold);
}





.money-event, .money-event-lost{

    position: absolute;
    top: 0;
    opacity: 1;
    z-index: 10;
    transition: all 2s;
    transform: translateY(0);

}

.lost{
    color: var(--lost);
}

.bg-lost{
    background-color: var(--resets);
}

.win{
    color: var(--bank-win);
}



.preFightBox, .fightBox{

    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;

}

.preFight, .fight{

    width: 80%;
    height: 80%;
    background-color: var(--bg-dark-show);
    gap: 30px;
    border: 2px solid var(--white);

}

.fight{
    gap: 0;
    position: relative;
    background-color: var(--bg-dark);
}

.preFightText{
    color: var(--white);
    font-size: var(--fs-title-md);
}

.preFightTitle{
    color: var(--lost);
}

.fightTitle{
    color: var(--white);
}


.fightLeft{
    gap: 50px;
    border-right: 4px solid var(--resets);
    position: relative;
}

.fightRight{
    gap: 50px;
    position: relative;
}


.dice{

    width: 200px;
    height: 200px;
    border: 4px solid var(--primary);
    position: relative;

}

.one, .two1, .two2, .three3, .four3, .four4, .five5, .six5, .six6{
    
    width: 35px;
    height: 35px;
    background-color: var(--primary);

}


.numberBoxDice{

    position: relative;

}

.two1{
    position: absolute;
    top: 15%;
    left: 15%;
}

.two2{
    position: absolute;
    bottom: 15%;
    right: 15%;
}


.three3{

    position: absolute;
    top: 40%;
    right: 40%;

}

.four3{
    position: absolute;
    top: 15%;
    right: 15%;
}

.four4{
    position: absolute;
    bottom: 15%;
    left: 15%;
}

.six5{
    position: absolute;
    top: 41%;
    left: 15%;
}

.six6{
    position: absolute;
    top: 41%;
    right: 15%;
}


.diceBot{
    background-color: var(--lost);
}


.diceBoxBot{
    width: 200px;
    height: 200px;
    border: 4px solid var(--lost) !important;
}


.lucky{
    font-size: var(--fs-title-md);
}

.clickDice{

    position: absolute;
    /* background-color: aliceblue; */
    z-index: 10;
    cursor: pointer;

}

.lifeUser{
    width: 90%;
    height: 30px;
    background-color: var(--bank-win);
    position: absolute;
    bottom: 50px;
    color: var(--white);
    font-size: var(--fs-title-md);
}


.victory, .lost-bg{
    position: absolute;
    z-index: 50;
    -webkit-user-select: none;
    user-select: none;
}

.victory{background-color: var(--bg-bank);}
.lost-bg{background-color: var(--bg-reset);}